

@mixin collum($left,$right) {
  position: relative;
  padding-left: $left;
  padding-right: $right;
  width: 100%;
}

@mixin flex($percent) {
  flex: 0 0 $percent;
  max-width: $percent;
}

@mixin center__item(){
  margin-left: auto;
  margin-right: auto;
}

@mixin style_font($font,$weight,$style){
  font-size: $font;
  font-weight: $weight;
  font-style: $style;
}

@mixin button () {
  display: inline-block;
  background: $color_yellow;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid $color_yellow;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_black;
  padding: 12px 30px;
  &:hover{
  background: none;
  border: 1px solid $color_yellow;
  text-decoration: none;
  color: $color_yellow;
  }
}

@mixin line_text() {
  content: "";
    position: absolute;
    top: 45px;
    width: 200px;
    height: 1px;
    background: $color_black;
}

@mixin section_shahow(){
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1;
}

@mixin background_img($position,$cover) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $cover;}
  
