$color_white: #fff;
$color_yellow: #ffb606;
$color_gray: #777;
$color_black: #131230;
$color_dark: #0d0d27;
$section_dis:130px 0;
$font_medium : 48px;
$font_item : 24px;
$font_special : 32px;
$font_small : 16px;
$font_large : 60px;
$img_size : 362px;
