section.banner.position-relative
  .container
    .row
      .col-12
        h4 THE MOST INTERESTING FOOD IN THE WORLD
        h1 Discover the 
          span flavors 
          br 
          |of 
          span food 
          |fun