section.book
    .container
      .row
        .col-12.text-center
          h3 Book 
            span your 
            |table
          p.--white Beast kind form divide night above let moveth bearing darkness.
      .row
        .col-12
          form.needs-validation(novalidate)
            .form-row
              +input(input)
            .confirm__button.d-flex.text-center
              button.mt-5.text-center(type="submit") Book a table
