section.about
  .container
    .row
      .col-md-4.mt-5
        a(href="#")
          img.img(src="./images/logo/logo2.png")
        br
        br
        p Which morning fourth great won't is to fly bearing man. Called unto shall seed, deep, herb set seed land divide after over first creeping. First creature set upon stars deep male gathered said she'd an image spirit our

      .col-md-4.mt-5
        span.mb-md-4.d-block Contact Us
        ul
            +contact(contactlist)

      .col-md-4.mt-5
        span.mb-md-4.d-block  Opening Hours
        ul
          +open(listopen)

footer  
  .container
    .row
      .col-md-6.mt-3
        span Nguyen Vinh Khiem
      .col-md-6.mt-3
       ul
          li.d-inline-block.mr-4
            p.--white Follow us
            +social(itemsocial)     