header.position-absolute.rounded.p-3
        nav.navbar.navbar-expand-lg.navbar-light.w-100
          a(href="#")
           img.img( src="images/logo/logo.png" )
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNavAltMarkup.justify-content-end
            .navbar-nav.float-left
              +menu(list)              



            