section.reservation.position-relative
    .container
      .row
        .col-12.align-self-center.text-center
          h2 Natural ingredients and testy food
          h4.d-block.mb-5 Some Trendy And Popular Courses Offerd
          a.--none(href="#") RESERVATION